/* Poppins 400 , 500 , 600 */

/* poppins-regular - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/poppins-v15-latin-regular.woff2") format("woff2"),
    url("../fonts/poppins-v15-latin-regular.woff") format("woff");
}
/* poppins-500 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/poppins-v15-latin-500.woff2") format("woff2"),
    url("../fonts/poppins-v15-latin-500.woff") format("woff");
}
/* poppins-600 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/poppins-v15-latin-600.woff2") format("woff2"),
    url("../fonts/poppins-v15-latin-600.woff") format("woff");
}

body {
  font-family: "Poppins", sans-serif;
}

/* navbar start */

.navbar-brand {
  color: #24dc9f !important;
  text-shadow: 0px 4px 70px rgba(155, 215, 195, 0.8) !important;
  font-weight: 600 !important;
  font-size: 20px !important;
  line-height: 30px !important;
}

.nav-link {
  font-size: 18px !important;
  line-height: 27px !important;
  color: #021206;

  opacity: 0.5;
}

.navbar-btn-outline {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;

  color: #021206;

  opacity: 0.7;
  margin-right: 23px;
}

.navbar-btn {
  background: #f44545;
  border-radius: 6px;
  padding: 15px 30px;

  font-weight: 500;
  font-size: 18px;
  line-height: 27px;

  color: #ffffff;
}

.nav-item:first-child {
  margin-right: 53px !important;
}

.nav-item:nth-child(2) {
  margin-right: 37px !important;
}

/* showcase start */

.showcase {
  margin-top: 110px;
}

.showcase-heading {
  font-weight: 600;
  font-size: 54px;
  line-height: 81px;

  color: #021206;
}

.showcase-heading span {
  color: #24dc9f !important;
}

.showcase-form input {
  padding-top: 19px;
  padding-bottom: 19px;
  padding-left: 24px;
  background: #ffffff;
  border-radius: 6px;
}

.showcase-btn {
  background: #f44545;
  border-radius: 6px;
  font-weight: 500;
  font-size: 21px;
  line-height: 31px;

  color: #ffffff;
  padding: 11px 33px;
}

.showcase-form {
  margin-bottom: 36px;
}

.showcase-img-wrapper img:first-child {
  margin-right: 30px;
}

/* showcase end */

/* logos start */

.bg-logos {
  background-color: rgb(142, 230, 201, 0.1);
  padding: 55px 0;
  margin-top: 110px;
}

.logo-wrapper img {
  opacity: 1 !important;
}

/* logos end */

/* solution start */
.solution {
  padding-top: 100px;
  padding-bottom: 100px;
}

.solution-card {
  max-width: 282px;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  cursor: pointer;
  padding: 35px;
}

.solution-card img {
  width: 75px;
  height: 75px;
  margin-bottom: 25px;
}

.solution-card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22) !important;
}

.solution-card:first-child,
.solution-card:nth-child(3) {
  margin-right: 30px;
}

.solution-card:first-child img {
  background: linear-gradient(141.58deg, #ff9a9a 3.63%, #f14c4c 91.45%);
  mix-blend-mode: normal;
  box-shadow: 1px 5px 30px rgba(215, 21, 21, 0.5);
  border-radius: 10px;
}

.solution-card:nth-child(2) img {
  background: linear-gradient(154.24deg, #85fed6 4.45%, #4edaac 83.73%);
  background-blend-mode: luminosity;
  mix-blend-mode: normal;
  box-shadow: 1px 5px 30px rgba(83, 215, 171, 0.5);
  border-radius: 10px;
}

.solution-card:nth-child(3) img {
  background: linear-gradient(163.65deg, #fcd876 4.69%, #fabc13 88.66%);
  background-blend-mode: luminosity;
  mix-blend-mode: normal;
  box-shadow: 1px 5px 30px rgba(238, 185, 42, 0.6);
  border-radius: 10px;
}

.solution-card:last-child img {
  background: linear-gradient(143.75deg, #fe9af4 0%, #ec4edc 88.72%);
  background-blend-mode: luminosity;
  mix-blend-mode: normal;
  box-shadow: 1px 5px 30px rgba(230, 68, 214, 0.5);
  border-radius: 10px;
}

.solution-title {
  font-weight: 600;
  font-size: 21px;
  line-height: 31px;
  color: #021206;
  opacity: 0.8;
  margin-bottom: 9px;
}
.solution-text {
  font-size: 16px;
  line-height: 160%;
  color: #021206;
  opacity: 0.7;
}
.solution-header {
  font-weight: 600;
  font-size: 45px;
  line-height: 67px;

  color: #021206;
  margin-bottom: 20px;
}

.solution-content {
  font-size: 18px;
  line-height: 160%;
  color: #021206;
  opacity: 0.7;
}

.solution-dark-btn {
  background: #282323;
  border-radius: 6px;
  padding: 15px 40px;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  color: #ffffff;
  margin-right: 25px;
}

.solution-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  color: #ff4d4d;
}

/* solution end */

/* price start */

.price {
  padding-top: 110px;
  padding-bottom: 120px;
}

.price-heading {
  font-weight: 600;
  font-size: 45px;
  line-height: 67px;
  color: #021206 !important;
}

.price-title {
  font-size: 18px;
  line-height: 170%;
  color: #021206 !important;
  opacity: 0.7;
}

.price input[type="checkbox"] {
  width: 58.1px;
  height: 28.98px;
  border-radius: 6px;
}

.price-change-wrapper p:first-child {
  font-size: 20px;
  line-height: 80%;
  color: #4e5951;
}

.price-change-wrapper p:last-child {
  font-weight: 500;
  font-size: 20px;
  line-height: 80%;
  color: #4e5951;
}

.price-change-wrapper {
  margin-bottom: 34px;
}

.price-strong {
  margin-bottom: 86px;
}

.range-wrapper input {
  max-width: 1146px;
  max-height: 10.77px;
}

.range-wrapper {
  margin-bottom: 93px;
}

.price-bottom .card {
  max-width: 361px !important;
  padding-top: 35px;
  padding-bottom: 48px;

  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 15px;

  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.price-bottom .list-group-item .d-flex {
  padding-left: 34px;
  padding-right: 29px;
  padding-top: 22px;
  padding-bottom: 22px;
}

.price-bottom .card-title {
  font-weight: 600;
  font-size: 20px !important;
  line-height: 170%;
  color: #021206;
  opacity: 0.5;
  margin-bottom: 35px;
}

.price-bottom .card-text {
  font-weight: 600;
  font-size: 43px;
  line-height: 100%;
  color: #021206;
  margin-bottom: 37px;
}

.price-bottom .list-group-item .d-flex img {
  margin-right: 8px;
}

.price-bottom .list-group-item .d-flex p {
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  color: #021206;
  opacity: 0.7;
}

.price-bottom .list-group-item .d-flex s {
  font-size: 16px;
  line-height: 160%;
  color: #021206;
  opacity: 0.5;
}

.price-bottom .card-body button {
  padding: 13px 76px;
  font-weight: 500;
  font-size: 20px;
  line-height: 170%;
  text-align: center;
  opacity: 0.9;

  border-radius: 6px;
}

.price-bottom .card:hover {
  box-shadow: 0px 20px 100px rgba(2, 18, 6, 0.15);
}

/* price end */

/* discover start */

.discover {
  margin-top: 149px;
  margin-left: 200px;
  margin-right: 247px;
}

.discover-img-wrapper {
  margin-left: 118px;
}

/* discover end */

/* serving start */

.fluia {
  height: 400px;
}

.serving {
  margin-top: 180px;
}

/* serving end */

/* our start */

.our-btn {
  padding: 15px 33px;
}

.our-container {
  padding: 91px 210px;
}

.our-header h1 p {
  padding-bottom: 20px;
}

.our {
  margin-top: 220px;
  background-color: #9de7cf;
}

/* our end */

/* footer start */

.navbar-wrapper nav ul li a {
  margin-left: 187px;
}

.footer-text {
  padding-left: 80px !important;
}

/* footer end */

@media screen and (max-width: 900px) {
  .solution-card:nth-child(1),
  .solution-card:nth-child(3) {
    margin-right: 0;
  }

  .discover {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }

  .img-discover {
    margin: 0;
    display: flex;
    padding-right: 100px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .serving {
    margin: 0;
    padding: 0;
  }

  .our {
    padding-top: 5px;
    padding-left: 9px;
    margin: 1px;
  }

  .our-container {
    margin: 0;
    padding: 0;
  }

  .footer-text {
    flex-direction: column;
  }
}
